# /etc/systemd/system/selection-app.service
[Unit]
Description=Selection App
After=network.target

[Service]
Type=simple
User=li
WorkingDirectory=/home/li/Documents/SI100
ExecStart=/home/li/mypy/bin/gunicorn -c gunicorn_config.py app:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
